body {
	margin: 0px;
	padding: 0px;
	background: #F6F6F6 url('firstheader.jpg') repeat-x left top;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #787878;
}

a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

ul {
	list-style-type: square;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#main {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
}

#header {
	width: 1000px;
	margin: 0px auto;
	padding: 0px;
	height: 160px;
	background: url('header.png') no-repeat left top;
}

#navi {
	width: 950px;
	height: 54px;
	margin: 0 auto;
	padding: 0;
}

#navi ul {
	margin: 0;
	padding: 0;
	padding-left: 8px;
	list-style: none;
	line-height: normal;
}

#navi li {
	float: left;
	height: 60px;
	background: url('splitter.gif') no-repeat right top;
}

#navi a {
	display: block;
	margin-top: 10px;
	margin-right: 3px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 13px;
	color: #F6F6F6;
	border: none;
	font-weight: normal;
}

#navi a:hover {
	text-decoration: underline;
}

#textbox {
	width: 1000px;
	margin: 0px auto;
	background: url('rside.jpg') repeat-y left top;
}

#textbtm {
	background: url('footer.jpg') no-repeat left bottom;
}

#text {
	width: 900px;
	padding: 25px 50px 125px 50px;
	margin: 0px auto;
	text-align: justify;
	font-size: 13px;
	line-height: 150%;
	min-height: 350px;
}

.mheadline {
	margin-bottom: 35px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 20px;
	color: #000000;
	border-bottom: 1px solid #F1F1F1;
}

.hl {
	font-weight: bold;
}

input,select {
	border: 1px solid #C9DCA6;
	font-family: "Arial", "Helvetica", "sans-serif";
}

input:focus {
	background-color: #ECFAD2;
	border: 1px solid #333;
}

textarea {
	border: 1px solid #C9DCA6;
	font-family: "Arial", "Helvetica", "sans-serif";
}

.button {
	background-color: #ECFAD2;
}

radio {
	background: #92CC47;
	border: 0px;
}

.mainlogindiv {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	background-color: #F6F6F6;
	border: 1px solid #bab4b4;
}